:root{
    --MainGameColor: #000000;
    --SecondaryGameColor: #b60000;
    --TertiaryGameColor:  #0047cc;
    --transpar: #00000000;

    --DarkModeMain: #00000000;
    
}
.DarkBack{
    background-color: var(--DarkModeMain);
}
.HomeMain{
    background-color: var(--DarkModeMain);
    width: 100%;
    height: 1000px; 
    margin: 0%;
    align-content: center;
    
    
}
.TitleText{
    text-align: center;
    color: #ffffff;
    width: 100%;
    background-color: var(--DarkModeMain);
    height: auto;
    
    margin-top: 1%;

}
#ButtonHolder{
    text-align: center;
    align-self: center;
    height:50%;
     
    padding-top: 37.5;
    flex-direction: row;
}
.ButtonStyle{
   display: flexbox;
   position: relative;
   flex-direction: row;
   top: 50%; 
   width: 20%;
   font-size: 50px;
   border-radius: 20px;
   border-color: #b60000;
   border-style: solid;
   border-width: 5px;
   color: #ffffff;
   background-color: #000000;
  
}
.UiBasic{
    position: absolute;
    background-color: #b6000044;
    width: 100px;
    height: 100px;
    border-color: #ffffff44;
    border-width: 2px;
    border-style: solid ;
    z-index: 1;
}
.ThreeWay{
    width: 33.333%;
    height: 100%;
    text-align:center;
    
    color: #ffffff;
}
#TopUI{
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    
    
}
#SideBarLeft{
    
    left: 0px;
    top:10%;
    width: 10%;
    height: 80%;
    
}
#SideBarRight{
    left: 89.5%;
    top:10%;
    width: 10%;
    height: 80%;
    margin-top: 0%;

}
#BottemUI{
    top:90%;
    width: 100%;
    height: 10%;
}
.GameHolder{
    margin:0px;
    padding:0px;
    background-color: var(--MainGameColor);
}

